@import '../../sass/abstract/variables';

.container {
    border: $section-border-width solid $sections-border-color;
    border-radius: 20px;
    padding: 10px;
}
.side-bar__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.category_list {
    overflow: hidden;
    overflow-y: auto;
    height: 9.1rem;
    font: normal bold 15px/120% 'Roboto', sans-serif;
}

.btn {
    background-color: orange;
    border: 0;
    border-radius: 10px;
    font: normal bold 17px/120% 'Roboto', sans-serif;
    padding: 5px;
    width: 100px;
}
