.sort-and-search {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 3px solid orange;
    border-radius: 20px;
}
.sorting {
    font: normal normal 20px/120% 'Roboto';
    border: 3px solid orange;
    border-radius: 20px;
    background: transparent;
    padding: 2px;

    .sorting__item {
        background-color: white;
    }
}
.found-board {
    font: normal bold 25px/120% 'Roboto', sans-serif;
}
.search-input {
    border: 3px solid orange;
    border-radius: 20px;
    padding: 8px;
    &::placeholder {
        font: normal bold 15px/120% 'Roboto', sans-serif;
    }
}
.sort-and-search__sizes-image {
    display: grid;
    gap: 1px;
    width: 40px;
    height: 40px;
    padding: 1px;
    cursor: pointer;
    &:hover {
        .cell {
            background-color: orange;
        }
    }
}
.sort-and-search__sizes-container {
    display: flex;
    gap: 10px;
}
.sort-and-search__sizes-image_big {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    .cell {
        background-color: black;
    }
}
.sort-and-search__sizes-image_small {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .cell {
        background-color: black;
    }
}
